body {
  background: #ffffff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header,
footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 1rem;
}

header h1,
footer p {
  margin: 0;
}

nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}

main {
  background-color: rgb(255, 255, 255);
  box-shadow: #333 0px 4px 8px;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

article h2 {
  margin-top: 0;
}

aside {
  background: #f4f4f4;
  padding: 1rem;
  margin-top: 2rem;
  border-left: 4px solid #ccc;
}

aside h3 {
  text-align: center;
}

aside .profil-penulis img{
  width: 120px;
  border-radius: 50%;
  display: flex;
  margin: auto;
}

aside .biodata p{
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

aside .biodata img {
  width: 120px;
  display: flex;
  margin: auto;
}

aside .biodata figcaption{
  text-align: center;
  margin-top: 10px;
}

aside p {
  text-align: justify;
}

section.galeri {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
}

section.galeri img {
  border-radius: 8px;
}

figure {
  margin: 0 0 1.5rem 0;
}

figcaption {
  font-size: 0.9rem;
  color: #555;
}

footer {
  text-align: center;
}
